ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
float: left;
}

li a {
display: block;
color: rgb(31, 96, 194);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: rgb(0, 255, 157);
}

.active {
    background-color: #88fd8c;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    font-weight: bold;
}

li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
#boxArg, #boxBel, #boxBol, #boxChil {
    
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    margin-top: 10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ }
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }